target
.library.db

#fronten
cuer_manager_backend/ui/node_modules/
cuer_manager_backend/ui/build/
cuer_manager_backend/ui/coverage
cuer_manager_backend/ui/.DS_Store
cuer_manager_backend/ui/.env.local
cuer_manager_backend/ui/.env.development.local
cuer_manager_backend/ui/.env.test.local
cuer_manager_backend/ui/.env.production.local

cuer_manager_backend/ui/npm-debug.log*
cuer_manager_backend/ui/yarn-debug.log*
cuer_manager_backend/ui/yarn-error.log*

public/*
